body {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

header {
    background-color: yellowgreen;
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 0.5px;
    justify-content: center;
    padding-bottom: 1px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding:10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 30px;
}

nav  :hover{
color: red;
}

main {
    padding: 20px;
}

.featured-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.featured-item {
    flex-basis: 28%;
    padding: 10px;
    border: 2px solid black;
}

.video-section {
    text-align: center;
    margin: 1rem 0;
}

iframe {
    max-width: 100%;
}

footer {
    text-align: center;
    font-size: 20px;
    background-color: #333;
    color: whitesmoke;
    padding: 5px;
}

.contact {
    background-color: goldenrod;
    margin: 20px;
}

.main-contact {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-content h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact-content ul {
    list-style: square;
    padding: 0;
}

.contact-content li {
    margin-bottom: 0.5rem;
}

.contact-content a {
    color: darkred;
    text-decoration:solid;
    transition: color 0.3s ease;
    font-size: 1.5em;
}

.contact-content a:hover {
    color: whitesmoke;
}

.featured-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
    cursor: pointer;
}

.featured-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.featured-item h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.featured-item p {
    font-size: 1em;
    color: darkred;
}
.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    gap: 10px;
    cursor: pointer;
  }
  
  .items {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out;
  }
  
  .items:hover {
    transform: translateY(-10px);
  }
  
  .items img {
    width: 40%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5;
  }
  
  .items h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .items p {
    font-size: 20px;
    line-height: 1;
    color: black;
  }
  