body {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

header {
    background-color: yellowgreen;
    color: #fff;
    text-align: center;
    font-size: 35px;
    padding-top: 1px;
    justify-content: center;
    padding-bottom: 1px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding:10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 30px;
}

nav  :hover{
color: red;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    font-size: 20px;
    background-color: #333;
    color: whitesmoke;
    padding: 5px;
}

.contact {
    background-color: goldenrod;
    margin: 20px;

}

.main-contact {
    max-width: 1600px;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-content h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact-content ul {
    list-style: square;
    padding: 0;
}

.contact-content li {
    margin-bottom: 0.5rem;
}

.contact-content a {
    color: darkred;
    text-decoration:solid;
    transition: color 0.3s ease;
    font-size: 1.5em;
}

.contact-content a:hover {
    color: whitesmoke;
}

main {
    display:block ;
    flex-wrap:wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
  }
  h2 {
    font-size: 35px;
    margin-bottom: 10px;
    text-underline-position: below;
    text-decoration: underline;
  }
  
  .product-container {
    display: block;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .product-details .product-price {
    color: black;
  }
  
  .product-images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .product-images img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    max-width: 300px; 
    height: auto;
    margin-right: 10px;
  }
  
  .product-details {
    margin-bottom: 20px;
  }
  
  .product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-details .product-price {
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  .product-details .product-description {
    margin-bottom: 20px;
  }
  
  .product-features {
    list-style: disc;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  
  .product-features li {
    margin-bottom: 10px;
  }
  
  .buy-now-btn {
    padding: 10px 20px;
    font-size: 20px;
    background-color: brown;
    color:white;
    border: none;
    cursor:pointer;
    border-radius: 10px;
  }
  
  .buy-now-btn:hover {
    background-color: rgba(222, 119, 34, 0.878);
  }
  
  .product-reviews {
    margin-bottom: 20px;
  }
  
  .review {
    margin-bottom: 10px;
  }

  .review-author {
    font-style:oblique;
  }
  
  .product-video iframe {
    width: 100%;
    height: 300px;
  }

