body {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

header {
    background-color: yellowgreen;
    color: #fff;
    text-align: center;
    font-size: 35px;
    padding-top: 1px;
    justify-content: center;
    padding-bottom: 1px;
}

nav {
    display: flex;
    justify-content: center;
    background-color:black;
    padding:10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 30px;
}

nav  :hover{
color: red;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    font-size: 20px;
    background-color: #333;
    color: whitesmoke;
    padding: 5px;
}

.contact {
    background-color: goldenrod;
    margin: 20px;
}

.main-contact {
    max-width: 1600px;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-content h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact-content ul {
    list-style:square;
    padding: 0;
}

.contact-content li {
    margin-bottom: 0.5rem;
}

.contact-content a {
    color: darkred;
    text-decoration:solid;
    transition: color 0.3s ease;
    font-size: 1.5em;
}

.contact-content a:hover {
    color:whitesmoke;
}
  section {
    padding: 20px;
}
  
h2 {
    font-size: 35px;
    margin-bottom: 10px;
    text-underline-position: below;
    text-align: center;
    text-decoration: underline;
  }
h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-color: aqua;
  }

p {
    margin-bottom: 15px;
    font-size: 25px;
  }

ul {
    margin-bottom: 15px;
  }
  